In [1]:
import pandas as pd

In [2]:
df = pd.read_html('tables.html')

In [3]:
#df

In [4]:
type(df)

list

In [5]:
def city(a,b,c,d):
    
    b.drop('Year',axis=1,inplace=True)
    df = pd.concat([a,b,c,d],axis=0)
    df.set_index('Month',inplace=True)
    df = df.set_index(pd.Index(['Avg Temp Min(°C)', 'Avg Temp Max(°C)', 'Avg Temp Min(°F)', 'Avg Temp Max(°F)','Avg Prec.(mm)','Avg Prec.(in)','No. days of Prec','Avg Hours Sunlight','Sea Temp(°C)','Sea Temp(°F)']))
    df.drop(['Avg Temp Min(°F)', 'Avg Temp Max(°F)', 'Sea Temp(°F)'], inplace=True)
    return df

In [6]:
capetown = city(df[0],df[1],df[2],df[3])

In [7]:
capetown_df = capetown.transpose()
capetown_df['Month']  = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
capetown_df.head()

,Avg Temp Min(°C),Avg Temp Max(°C),Avg Prec.(mm),Avg Prec.(in),No. days of Prec,Avg Hours Sunlight,Sea Temp(°C),Month
Jan,16.0,26.0,12.0,0.5,2.0,11.0,19.0,Jan
Feb,16.0,27.0,8.0,0.3,2.0,11.0,19.0,Feb
Mar,14.0,25.0,17.0,0.7,3.0,9.0,18.0,Mar
Apr,12.0,23.0,45.0,1.8,6.0,8.0,17.0,Apr
May,9.0,20.0,85.0,3.3,9.0,7.0,17.0,May

In [8]:
portelizabeth = city(df[13],df[12],df[14],df[15])

In [9]:
portelizabeth_df = portelizabeth.transpose()
portelizabeth_df['Month']  = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
portelizabeth_df.head()

,Avg Temp Min(°C),Avg Temp Max(°C),Avg Prec.(mm),Avg Prec.(in),No. days of Prec,Avg Hours Sunlight,Sea Temp(°C),Month
Jan,18.0,24.0,35.0,1.4,3.0,9.0,23.0,Jan
Feb,19.0,24.0,35.0,1.4,5.0,8.0,24.0,Feb
Mar,17.0,23.0,50.0,2.0,6.0,7.0,24.0,Mar
Apr,15.0,22.0,45.0,1.8,5.0,7.0,23.0,Apr
May,12.0,21.0,65.0,2.6,6.0,7.0,23.0,May

In [10]:
durban = city(df[17],df[16],df[18],df[19])
durban

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
Avg Temp Min(°C),21.0,21.0,20.0,17.0,14.0,11.0,11,13.0,15.0,17.0,18.0,20.0
Avg Temp Max(°C),28.0,28.0,28.0,26.0,25.0,23.0,23,23.0,23.0,24.0,25.0,27.0
Avg Prec.(mm),120.0,130.0,115.0,90.0,60.0,35.0,25,40.0,65.0,85.0,120.0,125.0
Avg Prec.(in),4.7,5.1,4.5,3.5,2.4,1.4,1,1.6,2.6,3.3,4.7,4.9
No. days of Prec,11.0,9.0,9.0,7.0,4.0,3.0,3,4.0,6.0,10.0,11.0,12.0
Avg Hours Sunlight,6.0,6.0,7.0,7.0,7.0,8.0,7,7.0,6.0,5.0,6.0,6.0
Sea Temp(°C),26.0,26.0,26.0,25.0,24.0,23.0,22,22.0,22.0,22.0,24.0,25.0

In [11]:
durban_df = durban.transpose()
durban_df['Month']  = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
durban_df.head()

,Avg Temp Min(°C),Avg Temp Max(°C),Avg Prec.(mm),Avg Prec.(in),No. days of Prec,Avg Hours Sunlight,Sea Temp(°C),Month
Jan,21.0,28.0,120.0,4.7,11.0,6.0,26.0,Jan
Feb,21.0,28.0,130.0,5.1,9.0,6.0,26.0,Feb
Mar,20.0,28.0,115.0,4.5,9.0,7.0,26.0,Mar
Apr,17.0,26.0,90.0,3.5,7.0,7.0,25.0,Apr
May,14.0,25.0,60.0,2.4,4.0,7.0,24.0,May

In [12]:
#plt.scatter(x = durban.loc[['Avg Temp Min(°C)'],:], y= durban_df['Avg Temp Min(°C)'])

In [13]:
import matplotlib.pyplot as plt
plt.scatter(durban_df['Avg Temp Min(°C)'], durban_df['Avg Temp Max(°C)'])

In [14]:
#correlation plot for capetown
cp= capetown.transpose().corr()
cp.corr()

,Avg Temp Min(°C),Avg Temp Max(°C),Avg Prec.(mm),Avg Prec.(in),No. days of Prec,Avg Hours Sunlight,Sea Temp(°C)
Avg Temp Min(°C),1.000000,0.999876,-0.997962,-0.998113,-0.999550,0.998525,0.996975
Avg Temp Max(°C),0.999876,1.000000,-0.996998,-0.997177,-0.999028,0.997607,0.997865
Avg Prec.(mm),-0.997962,-0.996998,1.000000,0.999997,0.999402,-0.999786,-0.989984
Avg Prec.(in),-0.998113,-0.997177,0.999997,1.000000,0.999485,-0.999825,-0.990324
No. days of Prec,-0.999550,-0.999028,0.999402,0.999485,1.000000,-0.999655,-0.994232
Avg Hours Sunlight,0.998525,0.997607,-0.999786,-0.999825,-0.999655,1.000000,0.991520
Sea Temp(°C),0.996975,0.997865,-0.989984,-0.990324,-0.994232,0.991520,1.000000

In [15]:
#correlation plot for port elizbeth
#correlation plot for capetown
pe= portelizabeth.transpose().corr()
pe.corr()

,Avg Temp Min(°C),Avg Temp Max(°C),Avg Prec.(mm),Avg Prec.(in),No. days of Prec,Avg Hours Sunlight,Sea Temp(°C)
Avg Temp Min(°C),1.000000,0.990774,-0.994084,-0.994084,-0.928615,0.868249,0.962522
Avg Temp Max(°C),0.990774,1.000000,-0.990610,-0.990610,-0.959782,0.829364,0.986316
Avg Prec.(mm),-0.994084,-0.990610,1.000000,1.000000,0.957884,-0.895206,-0.956726
Avg Prec.(in),-0.994084,-0.990610,1.000000,1.000000,0.957884,-0.895206,-0.956726
No. days of Prec,-0.928615,-0.959782,0.957884,0.957884,1.000000,-0.834323,-0.940133
Avg Hours Sunlight,0.868249,0.829364,-0.895206,-0.895206,-0.834323,1.000000,0.728371
Sea Temp(°C),0.962522,0.986316,-0.956726,-0.956726,-0.940133,0.728371,1.000000

In [16]:
#correlation plot for durban
db= durban.transpose().corr()
db.corr()

,Avg Temp Min(°C),Avg Temp Max(°C),Avg Prec.(mm),Avg Prec.(in),No. days of Prec,Avg Hours Sunlight,Sea Temp(°C)
Avg Temp Min(°C),1.000000,0.963187,0.999188,0.999208,0.984829,-0.946149,0.894045
Avg Temp Max(°C),0.963187,1.000000,0.955323,0.955699,0.903091,-0.824859,0.980898
Avg Prec.(mm),0.999188,0.955323,1.000000,0.999998,0.988911,-0.953003,0.882886
Avg Prec.(in),0.999208,0.955699,0.999998,1.000000,0.988675,-0.952562,0.883528
No. days of Prec,0.984829,0.903091,0.988911,0.988675,1.000000,-0.986581,0.805145
Avg Hours Sunlight,-0.946149,-0.824859,-0.953003,-0.952562,-0.986581,1.000000,-0.700958
Sea Temp(°C),0.894045,0.980898,0.882886,0.883528,0.805145,-0.700958,1.000000

In [ ]:
import dash
import dash_core_components as dcc
import dash_html_components as html
import plotly.graph_objs as go
import pandas as pd

# Launch the application:
app = dash.Dash()

# Create a Dash layout that contains a Graph component:
app.layout = html.Div(children = [
    html.H1('WEATHER FOR 3 COSTAL CITIES'),
    dcc.Graph(id='temperature',
             figure ={
                 'data': [
                     {'x':portelizabeth_df['Month'],'y':portelizabeth_df['Avg Temp Max(°C)'],'type':'line','name':'Port Elizabeth'},
                     {'x':durban_df['Month'],'y':durban_df['Avg Temp Max(°C)'],'type':'line','name':'Durban'},
                     {'x':capetown_df['Month'],'y':capetown_df['Avg Temp Max(°C)'],'type':'line','name':'Cape Town'}
                 ],
                 'layout':{
                     'title': 'Maximum Average Temperature'
                 }
             }),
    html.Div(children='''Overall we can see that out of all three cities Durban is considerably hotter. 
    Especially during autum/winter it is much more hotter. Cape Town is hotter than PE except for autum/winter,
    when PE is hotter. This tells us that Cape Town is hot during summer and the gets very cold during winter.'''),
    dcc.Graph(id='temperature1',
             figure ={
                 'data': [
                     {'x':portelizabeth_df['Month'],'y':portelizabeth_df['Avg Prec.(mm)'],'type':'bar','name':'Port Elizabeth'},
                     {'x':durban_df['Month'],'y':durban_df['Avg Prec.(mm)'],'type':'bar','name':'Durban'},
                     {'x':capetown_df['Month'],'y':capetown_df['Avg Prec.(mm)'],'type':'bar','name':'Cape Town'}
                 ],
                 'layout':{
                     'title': 'Average Precipitation.(mm)'
                 }
             }),
    html.Div(children='''Durban has the highest amount of precipitation and PE has the lowest. One thing that really
    stands out is that CPT has a much greater amount of precipitation during winter when it has really cold temperatures. Durban is the
    opposite and has it's higest levels of precipitation during spring/summer when it has really hot temperatures.
    PE has the least amount of precipitation. With the lowest levels of precipitation being during summer. 
    Other than that there aren't any dramatic changes for PE. CPT and PE preipitaion seem to be more inversly
    proportinal to the weather whereas Durban is more directly proportional.'''),
    dcc.Graph(id='temperature2',
             figure ={
                 'data': [
                     {'x':portelizabeth_df['Month'],'y':portelizabeth_df['No. days of Prec'],'type':'bar','name':'Port Elizabeth'},
                     {'x':durban_df['Month'],'y':durban_df['No. days of Prec'],'type':'bar','name':'Durban'},
                     {'x':capetown_df['Month'],'y':capetown_df['No. days of Prec'],'type':'bar','name':'Cape Town'}
                 ],
                 'layout':{
                     'title': 'No. days of Precipitation'
                 }
             }),
    html.Div(children='''The number of days of precipitation is consistent with the amount if precipitation.
    With Durban having the most, then CPT and lastly PE'''),
    dcc.Graph(id='temperature3',
             figure ={
                 'data': [
                     {'x':portelizabeth_df['Month'],'y':portelizabeth_df['Avg Hours Sunlight'],'type':'line','name':'Port Elizabeth'},
                     {'x':durban_df['Month'],'y':durban_df['Avg Hours Sunlight'],'type':'line','name':'Durban'},
                     {'x':capetown_df['Month'],'y':capetown_df['Avg Hours Sunlight'],'type':'line','name':'Cape Town'}
                 ],
                 'layout':{
                     'title': 'Average hours of Sunlight'
                 }
             }),
    html.Div(children='''CPT has really long days during summer and very short days during winter. So the colder it
    gets in CPT the shorter the days become. The same goes for PE. However, whats really interesting is to see that
    the opposite is true for Durban. The colder it gets the longer the days seem to be. '''),
    dcc.Graph(id='temperature4',
             figure ={
                 'data': [
                     {'x':portelizabeth_df['Month'],'y':portelizabeth_df['Sea Temp(°C)'],'type':'line','name':'Port Elizabeth'},
                     {'x':durban_df['Month'],'y':durban_df['Sea Temp(°C)'],'type':'line','name':'Durban'},
                     {'x':capetown_df['Month'],'y':capetown_df['Sea Temp(°C)'],'type':'line','name':'Cape Town'}
                 ],
                 'layout':{
                     'title': 'Average Sea temperature'
                 }
             }),
    html.Div(children='''From this we can see that the sea temperature is dependant on the overall temperature of
    the city. However it seems like there are other factors like location that have an impact on the sea temperature
    as CPT is hotter than PE in summer but it's sea temperature is colder than PE '''),
    html.H1('CONCLUSION'),
    html.Div(children='''Overall we can see that Cape Town has extremes whereby it is really cold in winter then
    really hot during summer. Also in terms of Precipitation it has very little during summer and a lot more during 
    winter. The same goes for Amount of Sunlight, it has really long days during summer and very short ones during
    summer. CPT's sea temperature does't seem to have and extremely dramtic changes. PE doesn'have any extremely 
    dramatic changes. Nor does Durban except that the amount of precipitation is a lot less during winter than in summer. ''')    
    
])

# Add the server clause:
if __name__ == '__main__':
    app.run_server()

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [25/Nov/2019 14:09:48] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [25/Nov/2019 14:09:48] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [25/Nov/2019 14:09:48] "GET /_dash-layout HTTP/1.1" 200 -